*ipynb
*out
*vmd
*old
*sph
*png
*.pdb.pdb
*.pdb_circle.pdb
__pycache__/*
*/__pycache__/*
*pyc
ProbeParticleEllipsoid/__pycache__/*
*.rad
*zip
*csv
DTP_Poster/*
.nfs*
*pdb
*txt
CaseStudies/*

old/*
PoreFinding.egg-info/*
YMF_poster/*
output/*
poreFinding_Ellipsoid_output_5o8f/*
build/
